/* Gothic A1 */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');
/* Nanum Gothic Coding */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap&subset=korean');

/* en */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  font-family: 'Nanum Gothic Coding', monospace;
  letter-spacing: -1px;
  line-height: 24px;
}

a{
  color: rgba(114,114,114,0.8);
}

a:visited{
  color: rgba(114,114,114,0.8);
}

.wrapper{
  width: 350px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
}

section{
  display: grid;
  justify-content: center;
}

section .logo{
  width: 220px;
  height: 220px;
  background-image: url(../images/profile03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -66px;
  border-radius: 175px;
  margin: 0 auto;
}

section .line_portfolio{
  width: 70px;
  border-top: 2.5px solid rgba(114,114,114,0.5);
  margin: 30px auto 0;
}

section p{
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  letter-spacing: -1px;
  padding: 14px 0 29px 0;
}

section header{
  padding-top: 42px;
}

section header > p{
  font-size: 17px;
  font-weight: bold;
  padding: 52px 0 0 0;
  font-style: italic;
}

section header > h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 43px;
  letter-spacing: 0;
  text-align: center;
}

section button{
  width: 150px;
  height: 41px;
  display: inline-block;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;  
  border: 1px solid rgba(114,114,114,0.4);
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

section button:hover{
  border: none;
  background-color: rgba(242, 205, 135, 0.4);
}

section button > a{
  padding: 13px 20px;
}

section button:hover a{
  color: rgba(114,114,114,0.7);
}

section ul{
  display: grid;
  gap: 0 12px;
  grid-auto-flow: column;
  justify-content: center;
  padding: 15px 0 18px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

section ul li{
  display: inline-block;
  text-align: center;
}

section ul li:hover{
  cursor: pointer;
}

section ul li a{
  grid-row: 1/ 1;
}

section ul li::before{
  content: '';
  border-left: 1px solid rgba(114,114,114,0.5);
  padding: 0 5px;
}

section ul li:first-child::before{
  content: '';
  border: none;
}






