
/* Nanum Gothic Coding */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap&subset=korean');

/* en */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body{
  font-family: 'Nanum Gothic Coding', monospace;
  letter-spacing: -1px;
  line-height: 24px;
}

a{
  color: rgba(114,114,114,0.8);
}

a:visited{
  color: rgba(114,114,114,0.8);
}

/*****************************************************************************/


.wrapper{
  width: 350px;
  height: 560px;
  min-width: 350px;
  min-height: 560px;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -51%);
}


/* 헤더(header) */

header .logo{
  width: 230px;
  height: 230px;
  background-image: url(../images/profile03_edit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -60px;
  border-radius: 175px;
  margin: 0 auto;
}

header > h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 37px;
  letter-spacing: -1px;
  text-align: center;
  color: #81665C;
  padding-top: 29px;
}


/* 섹션(section) */

section{
  display: grid;
  justify-content: center;
}

section p{
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  padding: 18px 0 26px 0;
}

section button{
  width: 140px;
  height: 41px;
  display: inline-block;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;  
  border: 1px solid rgba(114,114,114,0.4);
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

section button:hover{
  border: none;
  background-color: #81665C;
}

section button > a{
  padding: 13px 19px;
}

section button:hover a{
  color: white;
  font-weight: 600;
}

section ul{
  display: grid;
  gap: 0 12px;
  grid-auto-flow: column;
  justify-content: center;
  padding: 11px 0 18px 0;
}

section ul li{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
}

section ul li:hover{
  cursor: pointer;
}

section ul li::before{
  content: '';
  border-left: 1px solid rgba(114,114,114,0.5);
  padding: 0 5px;
}

section ul li:first-child::before{
  content: '';
  border: none;
  margin-left: -10px;
}
