/* Gothic A1 */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');
/* Nanum Gothic Coding */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap&subset=korean');

/* en */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 24px;
  letter-spacing: -1px;
  color: #727272;
}

a{
  color: rgba(114,114,114,0.8);
}

a:visited{
  color: rgba(114,114,114,0.8);
}

section{
  position: relative;
  display: grid;
}

header{
  padding: 150px 0 100px 0;
}

header > h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0;
  padding-bottom:   14px;
  text-align: center;
}

header > p{
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}


header .line_portfolio{
  width: 70px;
  /* border-top: 2.5px solid rgba(0,0,0,0.15); */
  border-top: 2.5px solid rgba(114,114,114,0.5);
  margin: 0 auto;
  padding: 8px 0 10px;
}

.box-conts{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: 550px;
  gap: 70px 0;

  /* border: 1px solid black; */
}

.box-conts h3{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 12px;
}

.info_left{
  padding: 55px 80px 0 0;
  text-align: right;
  position: relative;
}

.info_right{
  padding: 55px 0 0 80px;
  position: relative;
}

.item .line_item01{
  width: 284px;
  border-top: 1.2px solid rgba(0,0,0,0.15);
  position: absolute;
  left: 0px;
}

.item .line_item02{
  width: 210px;
  border-top: 1.2px solid rgba(0,0,0,0.15);
  position: absolute;
  right: 0px;
}

.item .line_item03{
  width: 270px;
  border-top: 1.2px solid rgba(0,0,0,0.15);
  position: absolute;
  left: 0px;
}

.item .line_item04{
  width: 270px;
  border-top: 1.2px solid rgba(0,0,0,0.15);
  position: absolute;
  right: 0px;
}

.item ul{
  padding-top: 40px;
}

.item p{
  padding-top: 20px;
}

.bold{
  font-weight: bold;
  padding-top: 17px;
}
.none_letter{
  letter-spacing: 0;
}

nav{
  position: absolute;
  top: 2rem;
  right: 100px;
  width: 200px;
  color: #727272;
  /* height: 400px; */
  /* border: 1px solid black; */
}

nav .btn-main{
  width: 200px;
  height: 66px;
  margin-top: 25px;
  border: 1px solid black;
}

nav .menu05_main{
  padding: 24px 85px;
  text-align: center;
  line-height: 66px;
}

footer{
  padding: 250px 0 100px;
  display: grid;
  justify-content: center;
}

footer > div{
  width: 300px;
  border-top: 1.2px solid rgba(0,0,0,0.15);
  margin: 0 auto;
}

footer > ul{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
}

footer > ul li{
  text-align: center;
}

footer > p{
  text-align: center;
  padding-top: 10px;
  color: #B1B0B0;
}

.fixed{
  position: fixed;
  top: 2rem;
}

@media (max-width: 1599px){
  nav, .item p, .item ul li{
    font-size: 0.875em;
    line-height: 20px
  }
  .box-conts{
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 450px;
  }

  .box-conts h3{
    font-size: 1.438em;
    padding-bottom: 10px;
  }

  .item ul{
    padding-top: 35px;
  }

  .item img{
    width: 500px;
    height: 450px;
  }
  
}