
/* en */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* 나눔고딕 코딩 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap&subset=korean');

/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body, div, p{
  font-family: 'Nanum Gothic', monospace;
  line-height: 24px;
  letter-spacing: 0.12px;
  color: #666666;
}

a{
    color: #666666;
}
  
a:visited{
    color: #666666;
}

/*****************************************************************************/



/* 헤더(header) */

header{
  padding: 150px 0 100px 0;
}

header > h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0;
  padding-bottom: 14px;
  text-align: center;
  color: #525252;
}

header > p{
  font-size: 15px;
  text-align: center;
  line-height: 22px;
  color: #6E6E6E;
}

header .line_portfolio{
  width: 70px;
  border-top: 2.5px solid rgba(114,114,114,0.5);
  margin: 0 auto;
  padding: 0 0 18px 0;
}



/* 섹션(section) */

section{
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.contents > li {
    height: 700px;
}

.contents li div{
    display: inline-block;
    float: left;
}

.contents .con-img{
    width : 500px;
    box-shadow: 4px 2px 7px rgba(0,0,0,0.14);
}

.contents .con-img > div > img{
    width: 100%;
}

.contents .con-text{
    width : 500px
}

.contents .con-text ul li h4 {
    padding-top: 17px;
    color: #525252;
}

.contents h3{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 12px;
  color: #525252;
}

.contents h3 span{
  font-weight: 500;
}

.info_left{
  padding: 5px 0 0 65px;
  text-align: right;
  position: relative;
}

.info_right{
  padding: 5px 0 0 65px;
  position: relative;
}

.item .img-link{
  opacity: 0.66;
}

.item > img{
  cursor: pointer;
}

.item ul{
  padding-top: 20px;
}

.item ul li:nth-child(odd){
  /* padding-top: 17px; */
}


/* 네비게이션 */
nav{
  position: absolute;
  top: 2rem;
  right: -4rem;
  color: #6E6E6E;
  line-height: 25px;
}

nav .area-navi{
  position: absolute;
  width: 12.5rem;
  letter-spacing: -0.5px;
}

nav .area-navi ul li:hover{
  font-weight: 600;
}

nav button{
  width: 150px;
  height: 41px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;  
  border: 1px solid rgba(114,114,114,0.4);
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

nav button:hover{
  border: none;
  background-color: #81665C;
}

nav button > a{
  padding: 13px 53px;
}

nav button:hover a{
  color: white;
  font-weight: 600;
}

nav .fixed{
  position: fixed;
  top: 2rem;
}


/* 푸터(footer) */

footer{
  padding: 150px 0 100px;
  display: grid;
  justify-content: center;
}

footer > div{
  width: 200px;
  border-top: 1.2px solid rgba(0,0,0,0.15);
  margin: 0 auto;
}

footer > ul{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
}

footer > ul li{
  text-align: center;
}

footer > p{
  text-align: center;
  padding-top: 10px;
  color: #B1B0B0;
  font-size: 14px;
}

/* 영문 폰트 전용 */
.font-en{
  font-family: 'Montserrat', sans-serif;
}
/* 영문 폰트 bold 전용 */
.font-bold{
  font-weight: 600;
}
/* 초기 세팅 값 리셋 */
.font-noletter{
  letter-spacing: 0;
}


/**************************** 미디어 쿼리 ****************************/

